* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
.app{
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
  height: 60%;
  width: 20%;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgb(179, 175, 175);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
 }
@media (max-width:600px){
.center{
width:90%;
}
}

 .center img{
  height: 80%;
  width: 100%;
 }
 .center input{
  height: 15%;
  padding-left: 10px;
  width: 100%;
 }
